body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo-wrap {
    background-color: black;
    margin: 0 0 20px 0;
}

.logo-wrap img {
    color: white;
    width: 180px;
    padding: 20px 0 10px 20px;
    
}

#drop {
    display: none;
}

.dropdown {
    float: right;
    color: white;
    margin: 30px 20px;
    font-size: 30px;
    transition: 0.3s;
}

.dropdown:hover {
    opacity: 0.7;
    cursor: pointer;
}

.dropdown:active {
    opacity: 0.3;
}

.dropdown-content {
    position: relative;
    background-color: #f1f1f1;
    margin: 0 5px;
    float: right;
    top: -20px;
}

#just {
    margin-left: 0
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    border: 1px solid black;
}

.dropdown-content a:hover {
    opacity: 0.7;
}

.just {
    text-align: center;
}

.just img {
    width: 200px;
}

.container {
    margin: 50px 0;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 30vw;
    overflow: hidden;
}

.slide-container {
    position: relative;
    width: 80vw;
    max-height: 670px;
    margin: 0 auto;
    display: none;
    overflow: hidden;
}

.slideshow-container {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

img {
    width: 100%;
    max-height: 670px;
    overflow: hidden;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}

.text-container {
    text-align: center;
    color: white;
    background-color: black;
    padding: 30px;
}

h2 {
    font-size: 30px;
}

button {
    background-color: green;
    padding: 15px 55px;
    border-radius: 20px;
   
    font-size: 20px;
    
}

button:hover {
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.empty-div {
    padding-bottom: 100px;
}


@media screen and (max-width: 1200px) {
    .container {
        margin-bottom: 200px;
    }
    .empty-div {
        padding-bottom: 200px;
    }
}